<div class="versions" data-controller="versions">
  <h1>All versions</h1>
  <p>Checkout the versions!</p>

  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl mb-4">
      <h2>v1.x</h2>
      <div class="description">
        <p>Every minor and patch release from v1 is listed below.</p>
        <p>Latest version: v<%= @current_version %></p>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v1.2.7" data-toggle="tooltip" data-placement="top" title="Latest version">
          <%= @current_version %>
          <span class="badge bg-primary" style="color: #fff">Latest</span>
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v1.1.0">
          1.1.0
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v1.0.7">
          1.0.7
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl mb-4">
      <h2>v0.x</h2>
      <div class="description">
        <p>Every minor and patch release from v0 is listed below.</p>
        <p>Latest version: v0.9.2</p>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.9.2">
          0.9.2
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.87">
          0.87
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.7.6-beta">
          0.7.6-beta
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.7.6">
          0.7.6
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.5.1-beta">
          0.5.1-beta
        </a>
        <a class="list-group-item list-group-item-action py-2 text-primary" href="https://github.com/mike-koala-bear/turbochatter/releases/tag/v0.5.1">
          0.5.1
        </a>
      </div>
    </div>
  </div>
</div>

